 <aside id="sidebar_main">
        
        <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="/administrators/dashboard" class="sSidebar_hide sidebar_logo_large">
                    <img class="logo_regular" src="/admin_theme/assets/img/logo_main.png" alt="" height="15" width="71"/>
                    <img class="logo_light" src="/admin_theme/assets/img/logo_main_white.png" alt="" height="15" width="71"/>
                </a>
                <a href="/administrators/dashboard" class="sSidebar_show sidebar_logo_small">
                    <img class="logo_regular" src="/admin_theme/assets/img/logo_main_small.png" alt="" height="32" width="32"/>
                    <img class="logo_light" src="/admin_theme/assets/img/logo_main_small_light.png" alt="" height="32" width="32"/>
                </a>
            </div>
     
        </div>
        
        <div class="menu_section">
            <ul>
                <li title="Dashboard">
                    <a href="/administrators/dashboard">
                        <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                        <span class="menu_title">Главная</span>
                    </a>
                    
                </li>
                
                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">&#xE8CB;</i></span>
                        <span class="menu_title">Витрина</span>
                    </a>
                    <ul>
                        <li><a href="/administrators/product_categories">Категории товаров</a></li>
                        <li><a href="/administrators/products">Товары</a></li>
                    </ul>
                </li>
                
                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">&#xE8CC;</i></span>
                        <span class="menu_title">Заказы</span>
                    </a>
                    <ul>
                        <li><a href="/administrators/orders">Заказы</a></li>
                        <li><a href="/administrators/back_calls">Заявки на обр. звонок</a></li>
                        <li><a href="/administrators/form_requests">Заявки c формы обр. связи</a></li>
                    </ul>
                </li>

                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">subject</i></span>
                        <span class="menu_title">Записи</span>
                    </a>
                    <ul>
                        <li><a href="/administrators/post_categories">Категории записей</a></li>
                        <li><a href="/administrators/posts">Записи</a></li>
                        <li><a href="/administrators/pages">Страницы</a></li>
                    </ul>
                </li>

                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">settings_brightness</i></span>
                        <span class="menu_title">Оформление</span>
                    </a>
                    <ul>
                        <li><a href="/administrators/sliders">Слайдеры</a></li>
                        <li><a href="/administrators/banners">Баннеры</a></li>
                        <li><a href="/administrators/menus">Меню</a></li>
                        <li><a href="/administrators/site_variables">Блоки</a></li>

                    </ul>
                </li>
              
            </ul>
        </div>
    </aside>