   <footer class="site-footer footer-v3">
                     <!-- footer content -->
                     <div class="footer">
                       
                        <div class="main-footer">
                           <div class="footer-widget">
                              <div class="container">
                                 <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                       <div class="contact">
                                          <div class="logo">
                                             <img src="/site_theme/images/logo-ft.png" alt="">
                                          </div>
                                          <div class="f-content-widget">
                                             <div class="text-widget">
                                                <p class="address">
                                                   <Strong>[ Address ]</Strong> 121 King Street, Melboure, victoria 3000 Australia.
                                                </p>
                                                <p class="hotline">
                                                   <strong>[ Hotline ]</strong> 070-7782-9137  - 
                                                   <strong>[ Fax ]</strong> 070-7782-9137  -
                                                   <strong>[ Email ]</strong> contact@mautica.com
                                                </p>
                                             </div>
                                             <div class="social">
                                                <ul>
                                                   <li><a href="#">twitter<i class="fa fa-twitter"></i></a></li>
                                                   <li><a href="#">pinterrest<i class="fa fa-pinterest"></i></a></li>
                                                   <li><a href="#">facebook<i class="fa fa-facebook-square"></i></a></li>
                                                   <li><a href="#">behance<i class="fa fa-behance"></i></a></li>
                                                   <li><a href="#">dribbble<i class="fa fa-dribbble"></i></a></li>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                       <div class="policy">
                                          <h3 class="title-widget">
                                             <a href="#">Policy & Provision</a>
                                          </h3>
                                          <ul>
                                             <li><a href="#">Payment Method</a></li>
                                             <li><a href="#">Delivery</a></li>
                                             <li><a href="#">Warranty Policy</a></li>
                                             <li><a href="#">Returns and Refunds</a></li>
                                             <li><a href="#">Information Security</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                       <div class="services">
                                          <h3 class="title-widget">
                                             <a href="#">Customer Services</a>
                                          </h3>
                                          <ul>
                                             <li><a href="#">My Account</a></li>
                                             <li><a href="#">FAQ</a></li>
                                             <li><a href="#">Store System</a></li>
                                             <li><a href="#">Tracking</a></li>
                                             <li><a href="#">Contact US</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- END Main-footer-->
                        <div class="bottom-footer">
                           <div class="container">
                              <ul class="payment">
                                 <li class="item">
                                    <img src="/site_theme/images/pay1.png" alt="">
                                 </li>
                                 <li class="item">
                                    <img src="/site_theme/images/pay2.png" alt="">
                                 </li>
                                 <li class="item">
                                    <img src="/site_theme/images/pay3.png" alt="">
                                 </li>
                                 <li class="item">
                                    <img src="/site_theme/images/pay4.png" alt="">
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <!-- end footer content -->
                  </footer>