   <footer class="site-footer footer-v3">
                     <!-- footer content -->
                     <div class="footer">
                       
                        <div class="main-footer">
                           <div class="footer-widget">
                              <div class="container">
                                 <center><p>2017 piona.by все права защищены</p></center>
                              </div>
                           </div>
                        </div>
                        <!-- END Main-footer-->
                        
                     </div>
                     <!-- end footer content -->
                  </footer>