  <header id="engo-masthead"  class="site-header header_content header-v4 inherit">
         <!-- header main -->
         <div class="header-main  clearfix">
            <div class="container-full-screen">
               <div class="container1 clearfix">
                  <!--  -->
                  <div class=" hidden-lg hidden-md  engo-mainmenu offcanvas-fixed">
                     <div class="btn-toggle-menu  btn-nav" data-toggle="offcanvas">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                     </div>
                  </div>
                  <!--  -->
                  <!-- .logo -->
                  <div class="logo">
                     <a  title="Magento Commerce" href="#">
                     <img  alt="Shop Logo" src="/site_theme/images/logo3.png">
                     </a>
                  </div>
                  <!-- end .logo -->
                  <!-- nav -->
                  <div id="main-menu" class="main-menu clearfix">
                           <ul class="main-nav clearfix">
                              <li><a href="#" title="">Главная</a>
                              </li>
                              
                              <li>
                                 <a href="#" title="">Каталог</a>
                                 <ul class="sub-menu">
                                <li><a href="blog-v4.html">Женские товары</a></li>
                                     <li><a href="blog-v4.html">Женские товары</a></li>
                                 </ul>
                              </li>
                              <li><a href="#" title="">Доставка</a>
                              <li><a href="#" title="">Оплата</a>
                              <li><a href="#" title="">Контакты</a>

                           </ul>
                        </div>
                  <!-- end nav -->
                  <!-- right header -->
                  <div class="right-header">
                     <!-- cart -->
                     <div class="mini-cart clearfix off-canvas-right">
                        <div class="cart-icon off-canvas">
                           <img src="/site_theme/images/cart-icon2.png" alt="">
                        </div>
                        <div class="cart-label off-canvas">
                           Корзина
                           <i>(3)</i>
                        </div>
                       
                     </div>
                     <!-- end cart -->
                    
                  </div>
                  <!-- end right header -->
               </div>
            </div>
         </div>
         <!-- end header main -->
      </header>