   <header class="header-v6">
            <!-- topbar -->
            <div class="topbar">
               <div class="container">             
                  <div class="row">
                     <div class="col-sm-6">
                        <!--  -->
                             <div class=" hidden-lg hidden-md  engo-mainmenu offcanvas-fixed">
                                 <div class="btn-toggle-menu  btn-nav" data-toggle="offcanvas">
                                    <div class="one"></div>
                                    <div class="two"></div>
                                    <div class="three"></div>
                                 </div>
                             </div>
                              <!--  -->
                        <!-- .logo -->
                        <div class="logo">
                           <a class="logo" title="Magento Commerce" href="#">
                              <img  alt="Shop Logo" src="/site_theme/images/logo6.png">
                           </a>
                        </div>
                        <!-- end .logo -->
                     </div>
                     <!-- right topbar -->
                     <div class="col-sm-6 ">
                        <div class="right-topbar">
                           <!-- .shop-cart -->
                                  
                           <div class="mini-cart white">
                              <div class="cart-control cart-icon">
                                 <img src="/site_theme/images/cart-icon.png" alt="">
                              </div>
                              <div class="cart-label">
                                 Bag
                                 <i>(5)</i>
                              </div>
                              <!-- .cart-control -->

                           </div>
                      
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end  topbar -->
            <!-- header main -->
            <div class="header-main row">
               <div class="container">
                  <div class="container1 clearfix">
                     <!-- nav -->
                     <div id="main-menu" class="main-menu clearfix">
                        <ul class="main-nav clearfix">
                       
                           <li>
                              <a href="#" title="">Каталог</a>
                              <ul class="sub-menu">
                                 <li><a href="index.html">Категория 1</a></li>                         
                                 <li><a href="index3.html">Категория 2</a></li>
                                 <li><a href="index4.html">Категория 3</a></li>

                              </ul>

                           </li>
                           <li><a href="#" title="">Контакты</a></li>

                        </ul>
                     </div>
                     <!-- end nav -->


                     <form class="form-search" action="#">
                        <input class="input-search" placeholder="Search" type="text">
                        <div class="btn-search">

                           <input class="btn-search1" type="submit" value="Search">
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <!-- end header main -->
         </header>