<div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                        <div class="uk-width-large-1-2 uk-width-medium-1-2">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                       <i class="md-list-addon-icon material-icons">&#xE8CB;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading uk-margin-small-bottom"">Витрина</span>
                                        <span class="uk-text-small ">
                                            <ul>
                                                <li><a href="/administrators/products">Товары</a></li>
                                                <li><a href="/administrators/product_categories">Категории товаров</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE8CC;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading uk-margin-small-bottom"">Заказы</span>
                                        <span class="uk-text-small ">
                                            <ul>
                                                <li><a href="/administrators/orders">Заказы</a></li>
                                                <li><a href="/administrators/back_calls">Заявки на обр. звонок</a></li>
                                                <li><a href="/administrators/form_requests">Заявки с формы</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">subject</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading uk-margin-small-bottom"">Записи</span>
                                        <span class="uk-text-small ">
                                            <ul>
                                                <li><a href="/administrators/post_categories">Категории записей</a></li>
                                                <li><a href="/administrators/posts">Записи</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="uk-width-large-1-2 uk-width-medium-1-2">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">settings_brightness</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading uk-margin-small-bottom">Оформление</span>
                                        <span class="uk-text-small ">
                                            <ul>
                                                <li><a href="/administrators/sliders">Слайдеры</a></li>
                                                <li><a href="/administrators/slides">Слайды</a></li>
                                                <li><a href="/administrators/banners">Баннеры</a></li>
                                                <li><a href="/administrators/pages">Страницы</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">pan_tool</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading uk-margin-small-bottom"">Администрирование</span>
                                        <span class="uk-text-small ">
                                            <ul>
                                                <li><a href="/administrators/#">Выйти</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="uk-grid-divider">
                  
                </div>
            </div>
        </div>