<div id="page_content_inner">
    <h3 class="heading_b uk-margin-bottom">Меню</h3>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-overflow-container uk-margin-bottom">
                <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                    <thead>
                        <tr>
                            <th>Количество пунктов</th>
                            <th>Название</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @menus.each do |menu| %>
                        <tr>
                            <td><%= menu.menu_items.size %></td>
                            <td><%= link_to menu.name, edit_administrators_menu_path(menu) %></td>
                            
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>